<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card id="login-card">
    <form>
      <ion-list>
        
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
        <ion-row>
          <ion-col>
            <ion-button
              type="submit"
              (click)="login()"
              color="danger"
              expand="block"
              >Sign In</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-list>
    </form>
 <!--    <form class="example-form">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="text"
               placeholder="Pick one"
               aria-label="Number"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Placeholder">
       <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </form> -->
  </ion-card>
 
</ion-content>
