<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-demand"></ion-back-button>
    </ion-buttons>
    <ion-title>Demand Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-searchbar placeholder="Search Demand" ></ion-searchbar>
  <ion-item  *ngFor="let emp of employees">
    <ion-avatar>
      <img [src]="emp.imageUrl" style="background: #f2f2f2">
    </ion-avatar>
    <ion-label class="ion-text-capitalize">
      <h2>{{emp.firstName}}</h2>
      <p>#{{emp.lastName}} - {{emp.lastName}}  - {{emp.lastName}}  - {{emp.lastName}}  - {{emp.lastName}}</p>
    </ion-label>
  </ion-item>
</ion-content>
