<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Renewal Staffing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <app-deal [isMulticheck]="false" ></app-deal> <!-- [routerLink]="['./',emp.empID]" -->
  <ion-searchbar placeholder="Search Demand" ></ion-searchbar>
  <app-renewal-demand-sync *ngFor="let emp of employees" [renwalDemandObj]="emp"></app-renewal-demand-sync>
   <!--    <ion-icon slot="icon-only" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon> -->
</ion-content>
