<ion-header>
  <app-add-button  [titles]="forecastheader"></app-add-button>
</ion-header>

<ion-content fullscreen>
  <app-deal [isMulticheck]="false"  (enableButton)="enableAddButton($event)"></app-deal>
  <ion-searchbar placeholder="Search Demand" (ionChange)="onSearchChange($event)"></ion-searchbar>
  <ion-list *ngIf="pokemon.length == 0">
    <ion-item *ngFor="let i of [1,2,3,4,5]">
      <ion-avatar slot="start">
       <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label class="ion-text-capitalize">
        <h2>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </p>
      </ion-label>
  </ion-item>
  </ion-list>
  <ion-list >
    <app-forecast *ngFor="let poke of pokemon" [poke]="poke"></app-forecast>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadPokemon(true, $event)">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="loading more demands...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
