<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>forecast-demand</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-item>
    <ion-label>Select Deal ID</ion-label>
    <ionic-selectable [(ngModel)]="crmID" [items]="deals"
      itemValueField="key"
      itemTextField="value"
      headerColor="primary"
      [canSearch]="true"
      [hasInfiniteScroll]="true"
      [canSearch]="true"
      (onInfiniteScroll)="getDeals($event)"
      (onChange)="dealChange($event)"
      searchFailText="Nothing found :(">
    </ionic-selectable>
  </ion-item>
 <!--  <ion-item>
    <ion-label>Music</ion-label>
    <ion-select>
      <ion-select-option *ngFor="let poke of pokemon" [value]="poke.name">{{poke.name}}</ion-select-option>
    </ion-select>
  </ion-item> -->
  
  <ion-searchbar placeholder="Search Demand" (ionChange)="onSearchChange($event)"></ion-searchbar>
  <ion-list *ngIf="pokemon.length == 0">
    <ion-item *ngFor="let i of [1,2,3,4,5]">
      <ion-avatar slot="start">
       <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label class="ion-text-capitalize">
        <h2>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </p>
      </ion-label>
  </ion-item>
  </ion-list>
  <ion-list >
  <!--   <ion-item *ngFor="let poke of pokemon" [routerLink]="poke.pokeIndex">
        <ion-avatar slot="start">
          <img [src]="poke.image" style="background: #f2f2f2">
        </ion-avatar>
        <ion-label class="ion-text-capitalize">
          <h2>{{poke.name}}</h2>
          <p>#{{poke.pokeIndex}}</p>
        </ion-label>
    </ion-item> -->
    <app-forecast *ngFor="let poke of pokemon" [poke]="poke"></app-forecast>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadPokemon(true, $event)">
    <ion-infinite-scroll-content loading-spinner="bubbles" loading-text="loading more demands...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
