<!-- <ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="isAuthenticated()"
      swipe-gesture="true"
      side="start">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Logged User</ion-list-header>
          <ion-note>Nasruddin khan</ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
       </ion-content>
     </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app> -->
<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" *ngIf="isAuthenticated()"
      swipe-gesture="true"
      side="start">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>Logged User</ion-list-header>
          <ion-note>Nasruddin khan</ion-note>
        </ion-list>
        <div *ngFor="let p of appPages">
          <ion-menu-toggle *ngIf="p.url">
            <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
              <ion-icon [name]="p.icon" slot="start"></ion-icon>
              <ion-label>
                {{ p.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.parent-active]="p.open" detail="false">
            <ion-icon slot="start" [name]="p.icon" *ngIf="!p.open"></ion-icon>
            <ion-icon slot="start" name="arrow-down" *ngIf="p.open"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
          <ion-list *ngIf="p.open">
            <ion-menu-toggle>
              <ion-item *ngFor="let sub of p.children" class="sub-item" [routerLink]="sub.url" routerDirection="root"
                routerLinkActive="active">
                <ion-icon [name]="sub.icon" slot="start"></ion-icon>
                <ion-label>
                  {{ sub.title }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>
        </div>
       </ion-content>
     </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
