<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/view-demand"></ion-back-button>
    </ion-buttons>
    <ion-title>edit-view-demand</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-label  position="floating" color="primary">Demand Id</ion-label>
    <ion-input  type="text"  ></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label  position="floating" color="primary">Opp Id</ion-label>
    <ion-input  type="text"  ></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label  position="floating" color="primary">Band & Grade</ion-label>
    <ion-select>
      <ion-select-option value="1">Offshore</ion-select-option>
      <ion-select-option value="2">Onsite</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="full">
    <ion-label  position="floating" color="primary">LOB</ion-label>
    <ion-select>
      <ion-select-option value="1">Offshore</ion-select-option>
      <ion-select-option value="2">Onsite</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="full">
    <ion-label  position="floating" color="primary">Resource Type</ion-label>
    <ion-select>
      <ion-select-option value="1">Offshore</ion-select-option>
      <ion-select-option value="2">Onsite</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="full">
    <ion-label  position="floating" color="primary">Project ID</ion-label>
    <ion-select>
      <ion-select-option value="1">Offshore</ion-select-option>
      <ion-select-option value="2">Onsite</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="full">
    <ion-label  position="floating" color="primary">Coustomer Id</ion-label>
    <ion-input  type="text"  ></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label  position="floating" color="primary">Vertical Id</ion-label>
    <ion-input  type="text"  ></ion-input>
  </ion-item>
  <ion-item lines="full">
    <ion-label  position="floating" color="primary">Employee</ion-label>
    <ion-select>
      <ion-select-option value="1">Offshore</ion-select-option>
      <ion-select-option value="2">Onsite</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="full">
    <ion-label  position="floating" color="primary">Location</ion-label>
    <ion-select>
      <ion-select-option value="1">Offshore</ion-select-option>
      <ion-select-option value="2">Onsite</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="full">
    <ion-label  position="floating" color="primary">Development Unit
    </ion-label>
    <ion-select>
      <ion-select-option value="1">Offshore</ion-select-option>
      <ion-select-option value="2">Onsite</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="full">
    <ion-label  position="floating" color="primary">Work Location
    </ion-label>
    <ion-select>
      <ion-select-option value="1">Offshore</ion-select-option>
      <ion-select-option value="2">Onsite</ion-select-option>
    </ion-select>
  </ion-item>
  
  <ion-item lines="full">
    <ion-label  position="floating" color="primary">Company
    </ion-label>
    <ion-select>
      <ion-select-option value="1">Offshore</ion-select-option>
      <ion-select-option value="2">Onsite</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="full">
    <ion-label  position="floating" color="primary">Approvesrs
    </ion-label>
    <ion-select>
      <ion-select-option value="1">Offshore</ion-select-option>
      <ion-select-option value="2">Onsite</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="full">
    <ion-label  position="floating" color="primary">SkillElements
    </ion-label>
    <ion-select>
      <ion-select-option value="1">Offshore</ion-select-option>
      <ion-select-option value="2">Onsite</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="full">
    <ion-label  position="floating" color="primary">Skill Proficiency
    </ion-label>
    <ion-select>
      <ion-select-option value="1">Offshore</ion-select-option>
      <ion-select-option value="2">Onsite</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item lines="full">
    <ion-label color="primary">Customer Interview</ion-label>
     <ion-checkbox color="primary"></ion-checkbox>
</ion-item>
<ion-item lines="full">
  <ion-label  position="floating" color="primary">Address Sequence</ion-label>
  <ion-input  type="text"  ></ion-input>
</ion-item>
<ion-item lines="full">
  <ion-label  position="floating" color="primary">Project Role
  </ion-label>
  <ion-select>
    <ion-select-option value="1">Offshore</ion-select-option>
    <ion-select-option value="2">Onsite</ion-select-option>
  </ion-select>
</ion-item>
<ion-item lines="full">
  <ion-label  position="floating" color="primary">Role Type
  </ion-label>
  <ion-select>
    <ion-select-option value="1">Offshore</ion-select-option>
    <ion-select-option value="2">Onsite</ion-select-option>
  </ion-select>
</ion-item>
<ion-item lines="full">
  <ion-label  position="floating" color="primary">Resource Quantity</ion-label>
  <ion-input  type="text"  ></ion-input>
</ion-item>
<ion-item lines="full">
  <ion-label position="floating" color="primary">Start Date</ion-label> 
  <ion-datetime   min="1997" max="2050"></ion-datetime>
</ion-item>
<ion-item lines="full">
  <ion-label position="floating" color="primary">Billing Start Date</ion-label> 
  <ion-datetime   min="1997" max="2050"></ion-datetime>
</ion-item>
<ion-item lines="full">
  <ion-label position="floating" color="primary">End Date</ion-label> 
  <ion-datetime   min="1997" max="2050"></ion-datetime>
</ion-item>
<ion-item lines="full">
  <ion-label  position="floating" color="primary">Demand Owner
  </ion-label>
  <ion-select>
    <ion-select-option value="1">Offshore</ion-select-option>
    <ion-select-option value="2">Onsite</ion-select-option>
  </ion-select>
</ion-item>
<ion-item lines="full">
  <ion-label position="floating"  color="primary">Description</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>
  <ion-item lines="full">
    <ion-label position="floating"  color="primary">Comment</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>
  
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" expand="block">Submit</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
