<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>View Demand</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="openModal()" >
        <ion-icon  name="search"  slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="dataReturned">
    <ion-searchbar placeholder="Search Demand" ></ion-searchbar>
    <app-view-demand-list  *ngFor="let emp of employees" [viewdemandsObj]="emp"></app-view-demand-list>
  </ion-list>
</ion-content>
