<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>manual-demand</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <ion-toolbar>
    <ion-segment [value]="selectedSegment">
      <ion-segment-button  (click)="segmentChosen('Manual Demand')" value="Manual Demand">Manual Demand</ion-segment-button>
      <ion-segment-button (click)="segmentChosen('Manual Request')" value="Manual Request">Manual Request</ion-segment-button> 
      <!-- <ion-segment-button *ngFor="let name of ['Manual Demand', 'Manual Request']"
      (click)="segmentChosen(name)">
      <ion-label>{{selectedSegment}}</ion-label> -->

    </ion-segment>
    <app-create-manual-demand *ngIf="selectedSegment === 'Manual Demand'"></app-create-manual-demand>
    <app-manual-request  *ngIf="selectedSegment === 'Manual Request'"></app-manual-request>
  </ion-toolbar>
</ion-content>
