<ion-header>
  <ion-toolbar  color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app-ext-demands"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Approved {{selectedSegment}} Demands</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar>
    <ion-segment [value]="selectedSegment">
      <ion-segment-button  [disabled]="selectedSegment === 'Hirecraft'" (click)="segmentChosen('Hirecraft')" value="Hirecraft">Hirecraft</ion-segment-button>
      <ion-segment-button  [disabled]="selectedSegment === 'SkillBay'"  (click)="segmentChosen('SkillBay')" value="SkillBay">SkillBay</ion-segment-button> 
    </ion-segment>
  </ion-toolbar>
  <app-skillbay-demand-page  *ngIf="selectedSegment === 'SkillBay'"></app-skillbay-demand-page>
  <app-hirecraft-demand-page *ngIf="selectedSegment === 'Hirecraft'"></app-hirecraft-demand-page>
</ion-content>
